/* Creates formatting for the general header, 
which is used by every page*/

    /* Creates some whitespace around the drop-down login form fields, which is
    contained in the navigation bar at the top.*/
    #login{
        padding: 10px 15px 0px 15px;
    }
	#foot{
        position:fixed;
		bottom:0px;
		width:100%;
		color: #eccf14;
		background-color:rgba(22,25,26, 0.8);
    }
	
	/* Note: end of page wrapper is contained in the footer, right before the body end tag*/
	.pagewrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('img/trailmixbackround.jpg');
        background-size: cover;
        background-color: #fff;
    }
	
	.main-logo img {
        height: 200px;
        width:auto;
        margin-top: 300px;

    }
	
	.center{
        text-align: center;
        margin: 0 auto;
        display: block;
    }
	
	/* Change the button color to yellow */
	.btn-trailmix{
        background-color: #eccf14;
        color: #222 !important;
    }
	
	/* Adds formatting for the brand icon.*/
	.navbar-brand img{
        width:20px;
        height:auto;
    }
	
	/* Change the color of the text for links in navbar. */
	#myNavbar li a {
        color: #e3d8ac;
    }

	.start-screen {
    color: #ddd;
  }


  .start-screen h2{
    margin:50px 0 10px 0;
    font-size:29px;
  }
  .start-screen h1{
    margin: 10px 0 50px 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    font-size:44px;
  }

  .start-screen .cta{
    padding:25px 40px 25px 40px;
    font-size: 26px;
  }

/* Creates formatting for the index.php page */
	